extends layout

block content
    h1 LOG IN
    
    form(method='POST' action='')
        div.form-group
            label(for='username') E-mail Address
            input#username.form-control(type='email' name='username' value=user?user.username:'')
            label(for='password') Password
            input#password.form-control(type='password' name='password')


        button.btn.btn-primary(type='submit') Submit
    
    if errors
        ul
            for error in errors
                li!=error.msg